<h4>Log in to an existing account:</h4>
<form action="<%= sessions_url %>" method="post">

  <label for="username">Username</label>
  <input
    type="text"
    id="username"
    name="user[user_name]"
    vale="<%= @user ? @user.user_name : "" %>"
  >

  <label for="password">Password</label>
  <input
    type="password"
    id="password"
    name="user[password]"
    placeholder="minimum 4 letters"
  >

  <input type="submit" value="Log In">
</form>
