<h4>Edit the sub "<%= @sub.title %>"</h3>
  <form action="<%= sub_url(@sub) %>" method="patch">
    <label for="title">Sub Title:</label>
    <input type="text" id="title" name="sub[title]" value="<%= @sub.title %>">

    <br>
    <br>

    <label for="description">A short description of your sub</label>
    <br>
    <textarea name="sub[description]" id="description" rows="8" cols="80"><%= @sub.description %></textarea>

    <input type="submit" value="edit sub">
  </form>
