<!DOCTYPE html>
<html>
<head>
  <title>RedditOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2>Welcome to Reddit on Rails. Browse safely... maybe danger lurks</h2>
  <!-- if the user is logged in show a log out button -->
  <!-- else show a log in button -->
  <!-- regardless, show a sign up button -->
<%= yield %>

</body>
</html>
